@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    background-color: #1c1c1d;
    font-family: "Jersey 10", sans-serif;
    font-weight: 600;
    font-style: normal;

}
/*36, 35, 35)*/
.pixel {
    font-family: "Jersey 10", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Colores */
:root {
    --blush: #DD4A7D;
    --tekhelet: #602685;
    --plum: #A02C98;
    --midnight: #242169;
    --magenta-haze: #A83F78;
    --shocking-pink: #E84BB4;
    --white: #f9f9f9;
}

/* NAVBAR */
.navbar {
    background-color: var(--midnight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 24px;
    font-family: "Jersey 10", sans-serif;
    color: var(--white);
}

.nav-left .logo {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--magenta-haze);
}

.nav-center .search-box {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    background-color: var(--plum);
    color: white;
    outline: none;
    font-family: "Jersey 10", sans-serif;
}

.nav-right a {
    color: var(--white);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: "Jersey 10", sans-serif;
}

.nav-right a:hover {
    color: var(--shocking-pink);
}
/*carrusel*/
.carousel-caption h5 {
    font-size: 3.5rem; /* Título más grande */
    font-family: "Jersey 10", sans-serif; /* Tu tipografía retro */
    font-weight: 700;

}

.carousel-caption p {
    font-size: 2.5rem; /* Texto descriptivo más grande */
    font-family: "Jersey 10", sans-serif;
}
.carousel-item img{
    background-color: #1c1c1d;
    opacity: 0.5;
    object-fit: cover;
}

/*contenido publicitario*/

.text{
    text-align: justify;
    color: violet;
}

.main{
    display: flex;
        justify-content: flex-start;
        justify-content: center;
        justify-content: flex-end;
        justify-content: space-between;
        justify-content: space-around;
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); 
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .te{
      color: white;
      font-size: 1.5em;
      text-align: center;
    }
    .image-container:hover .overlay {
      opacity: 1;
    }
    .image-container {
      position: relative;
      overflow: hidden;
    }
    .header{
        text-align: center;
        color: violet;
    }

    footer {
        background-color: var(--midnight);
    }
    